.searchBarContainer {
  justify-self: center;
  justify-items: center;
  margin-top: 250px;
  p {
    font-size: 50px;
    margin-bottom: 10px;
    color: #113f67;
  }
}

.searchBar {
  border-radius: calc(25px);
  padding: 15px;
  border-width: 2px;
  border-color: black;
  font-size: 20px;
  text-align: center;
  background-color: #e9e3df;
  color: #34699a;
}
